<h2>my-form</h2>
<form #appForm="ngForm" (ngSubmit)="onSubmit(appForm.value)">
  <div>
    <label for="date">日付</label>
    <input type="date" name="date" ngModel>
  </div>
  <div>
    <label for="amount">自分の飲み代</label>
    <input type="number" name="amount" ngModel>
  </div>
  <div>
    <label for="payment">立て替え金額</label>
    <input type="number" name="payment" ngModel>
  </div>
  <account></account>
  <div>
    <label for="repayment">立て替え返済金額</label>
    <input type="number" name="repayment" ngModel>
  </div>
  <button type="submit">送信</button>
  <button type="reset">クリア</button>
</form>
