<h2>my-form</h2>
<form>
  <div>
    <label for="date">日付</label>
    <input type="date" name="date">
  </div>
  <div>
    <label for="amount">自分の飲み代</label>
    <input type="input" name="amount">
  </div>
  <div>
    <label for="payment">建替金額</label>
    <input type="input" name="payment">
  </div>
  <account></account>
  <div>
    <label for="repayment">建替返済金額</label>
    <input type="input" name="repayment">
  </div>
  <button type="submit">送信</button>
  <button type="reset">クリア</button>
</form>
